---
export interface Props {
  id?: string;
  href: string;
  class?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
  isBlankTarget?: boolean;
}

const {
  id,
  href,
  class: className = "",
  ariaLabel,
  title,
  disabled = false,
  isBlankTarget = false,
} = Astro.props;
const blankTargetProps = isBlankTarget
  ? { target: "_blank", rel: "noreferrer" }
  : {};
---

{
  disabled ? (
    <span
      id={id}
      class:list={["group inline-block", className]}
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      {href}
      {...blankTargetProps}
      id={id}
      class:list={["group inline-block hover:text-accent", className]}
      aria-label={ariaLabel}
      title={title}
    >
      <slot />
    </a>
  )
}
